:root {
  --accent-color: #fbfbfb;
  --main-color: #1b414b;
  --background-color: #0e1823;
  --main-text-color: #fbfbfb;
  --heading-text-color: #040306;
  --secondary-text-color: rgba(251, 251, 251, 0.4);
  --description-color: rgba(251, 251, 251, 0.7);
  --border-color: rgba(4, 3, 6, 0.1);
  --nav-button: rgba(27, 65, 75, 0.5);

  --font-family: "Inter", sans-serif;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: -0.02em;
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

picture {
  display: block;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}