:root {
  --accent-color: #fbfbfb;
  --main-color: #1b414b;
  --background-color: #0E1823;
  --main-text-color: #fbfbfb;
  --heading-text-color: #040306;
  --secondary-text-color: rgba(251, 251, 251, 0.4);
  --description-color: rgba(251, 251, 251, 0.7);
  --border-color:  rgba(4, 3, 6, 0.1);
  --nav-button: rgba(27, 65, 75, 0.5);

  --font-family: "Inter", sans-serif;

  --yachts-card-number: 3;
  --yacht-add-number: 4;
  --review-item-number: 3;
  --yacht-card-gap: 32px;
  --yacht-add-gap: 32px 44px;
  --review-item-gap: 32px;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px; 
  border: 0;
  padding: 0; 
  white-space: nowrap; 
  clip-path: inset(100%); 
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.header {
  position: fixed;
  width: calc(100% - 200px);
  top: 32px;
  left: 100px;
  height: 48px;
  z-index: 1000;
}

.header .container {
  display: flex;
  height: 48px;
  margin-right: 100px;
  padding: 12px 30px;
  background-color: var(--accent-color);
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
  align-items: center;
  justify-content: space-between;
}

.logo-link {
  display: block;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.03em;
  border: none;
  color: var(--main-color);
}

.nav-list {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
}

.nav-link {
  display: block;
  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;
  padding: 15px 24px;
  border-radius: 8px;
  color: var(--main-text-color);
  background-color: var(--nav-button);
  transition: background-color 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.nav-link:hover,
.nav-link:focus {
  background-color: var(--main-color);
}

.socials-list {
  display: flex;
  /* gap: 8px; */
  justify-content: center;
  align-items: center;
}

.socials-link {
  display: block;
}

.socials-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #1b414b;
}

.hero {  
  /* width: 1440px; */
  background-color: #1b414b;
  background-image: url(../images/hero-images/hero-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 235px 220px 215px;
}


.hero-title {
  display: block;
  max-width: 1001px;
  font-weight: 500;
font-size: 80px;
line-height: 1;
letter-spacing: -0.02em;
text-align: center;
margin-bottom: 24px;
color: var(--main-text-color);
}

.hero-description {
  display: block;
  max-width: 600px;
  font-weight: 300;
font-size: 16px;
line-height: 1.4;
text-align: center;
margin-bottom: 48px;
color: var(--description-color);
}

.hero-button {
  display: block;
  padding: 16px 40px;
  margin-bottom: 0px;
  font-weight: 500;
  border-radius: 15px;
  border: transparent;
font-size: 18px;
line-height: 1.1;
letter-spacing: -0.02em;
cursor: pointer;
color: var(--main-text-color);
background-color: var(--main-color);
transition: color 250ms cubic-bezier(0.47, 0, 0.745, 0.715), background-color 250ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.hero-button:hover,
.hero-button:focus {
  color: var(--main-color);
  background-color: var(--accent-color);
}

.about {
  background-color: var(--background-color);
  height: 775px;
 
 
}

.about-container {
  position: absolute;
  border-radius: 24px;
  border: transparent;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  padding-bottom: 438px;
  top: 765px;
  left: 50px;
  width: calc(100% - 100px);
  background-color: var(--accent-color);
}

.about-title {
  font-weight: 500;
font-size: 48px;
line-height: 1;
letter-spacing: -0.02em;
color: var(--main-color);
width: 537px;
height: 144px;
}

.description-wrapper {
  display: flex;
  flex-direction: column;
  width: 404px;
}

.description-title {
  font-size: 23px;
line-height: 1;
letter-spacing: -0.02em;
margin-bottom: 20px;
color: var(--main-color);
}

.description-text {
  font-size: 13px;
line-height: 1.15;
letter-spacing: -0.02em;
color: var(--heading-text-color);
}

.image-box {
  position: absolute;
  width: calc(100% - 98px);
  height: 507;
  top: 1104px;
  left: 50px;
  border-radius: 24px;
  border: none;
  overflow: hidden;
}



.yacht {
  background-color: var(--background-color);
}

.yacht-container {
  display: flex;
  flex-direction: column;
  padding: 150px 50px 0px;
}

.yacht-title {
  display: block;
  font-weight: 500;
  margin: 0 auto;
  margin-bottom: 75px;
  width: 714px;
font-size: 48px;
line-height: 1;
letter-spacing: -0.02em;
text-align: center;
color: var(--main-text-color);
}

.yacht-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--yacht-card-gap);
   margin-bottom: 50px;
}

.yacht-item {
  display: flex;
  border: none;
  border-radius: 24px;
  border: none;
  overflow: hidden;
  flex-wrap: wrap;
  flex-basis: calc((100% - (var(--yachts-card-number) - 1) * var(--yacht-card-gap)) / var(--yachts-card-number)); 
  background-color: var(--accent-color);
}

.yacht-image {
  padding: 16px;
}

.yacht-description {
  display: flex;
 justify-content: space-between;
  align-self: stretch;
  width: 100%;
  padding: 16px 32px 0px;
color: var(var(--main-color));
}

.characters {
  font-size: 13px;
line-height: 1.18;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--heading-text-color)
}

.yacht-name {
  font-weight: 500;
font-size: 16px;
line-height: 1.2;
letter-spacing: -0.04em;
text-transform: uppercase;
padding-bottom: 16px;

color: var(var(--main-color));
}

.devider {
  border: 0;
  height: 1px;
  width: 100%;
  border-top: 1px solid var(--border-color);
  margin: 0px 32px;
}

.yacht-tech {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 204px;
  row-gap: 6px;
  margin: 16px 32px 32px;
}

.yacht-option {
  margin: 0;
  font-size: 14px;
line-height: 1.18;
letter-spacing: 0.03em;
text-transform: uppercase;
  color: rgba(0,0,0,.45);
}

.option-value {
margin: 0;
  font-size: 14px;
line-height: 1.18;
letter-spacing: 0.03em;
  justify-self: start;
  color: var(--heading-text-color);
}


.yacht-rent-link {
  display: block;
  margin-right: auto;
    margin-left: auto;
  
    margin-bottom: 50px;
  padding: 16px 40px;
  /* min-width: 180px; */
  font-weight: 500;
font-size: 18px;
line-height: 1.1;
letter-spacing: -0.02em;
color: var(--main-text-color);
background-color: transparent;
border: 1px solid rgba(251, 251, 251, 0.35);
border-radius: 15px;
cursor: pointer;
transition: color 250ms cubic-bezier(0.47, 0, 0.745, 0.715), background-color 250ms cubic-bezier(0.47, 0, 0.745, 0.715), border 250ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.yacht-rent-link:hover,
.yacht-rent-link:focus {
      color: var(--main-color);
      background-color: var(--accent-color);
      border: none;
}

.yacht-add {
  display: flex;
  gap: 32px;
  margin: 100px 50px 0px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--yacht-add-gap);
  padding: 90px 50px;
  background-color: var(--main-color);
  
  border-radius: 24px;
}


.advantages-item {
  color: var(--main-text-color);
  width: 318px;
  flex-basis: 0 0 calc(
    (100% - (var(--yacht-add-number) - 1) * var(--yacht-add-gap))
    / var(--yacht-add-number)
  );
}

.yacht-example {
  max-width: 540px;
  border-radius: 24px;
  border: none;
  overflow: hidden;
}

.add-number {
  font-weight: 500;
font-size: 32px;
line-height: 1;
letter-spacing: -0.05em;
color: var(--main-text-color);
}

.add-devider {
  border: 0;
  margin: 18px 0;
  border-top: 2px solid rgba(251, 251, 251, 0.1);
}

.add-text {
  font-weight: 400;
font-size: 13px; 
line-height: 1.15;
letter-spacing: -0.02em;
color: rgba(251, 251, 251, 0.8);
}

.yacht-rental-group {
  display: flex;
  gap: 50px;
  margin: 150px 100px 100px 50px;
}

.rental-item {
  max-width: 768px;
  border-radius: 24px;
  border: none;
  overflow: hidden;
  margin: 0;
}

.rental-form-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.rental-form-title {
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 50px;
  font-weight: 500;
font-size: 48px; 
line-height: 1;
letter-spacing: -0.02em;
color: var(--main-text-color);
}

.rental-form {
  display: flex;
  flex-direction: column;
  /* flex-basis: 472px; */
  
}

.yacht-form-input {
  padding: 18px;
  border-radius: 12px;
  border: 1px solid rgba(251, 251, 251, 0.2);
  color: rgba(251, 251, 251, 0.4);
  background-color: transparent;
  font-weight: 400;
font-size: 14px;
line-height: 1.3;
margin-bottom: 18px;
transition: color 250ms cubic-bezier(0.47, 0, 0.745, 0.715), border 250ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.yacht-form-textarea {
  padding: 18px;
  border-radius: 12px;
  border: 1px solid rgba(251, 251, 251, 0.2);
  color: rgba(251, 251, 251, 0.4);
  background-color: transparent;
  font-weight: 400;
font-size: 14px;
line-height: 1.3;
margin-bottom: 50px;
transition: color 250ms cubic-bezier(0.47, 0, 0.745, 0.715), border 250ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.yacht-form-textarea:hover,
.yacht-form-textarea:focus,
.yacht-form-input:hover, 
.yacht-form-input:focus {
  color: var(--main-text-color);
  border: 1px solid rgba(251, 251, 251, 0.5);
}

.yacht-form-button {
  display: inline-block;
  align-self: flex-start;
  padding: 18px 75px;
  min-width: 194px;
  font-weight: 500;
  border-radius: 15px;
  border: 1px solid var(--heading-text-color);
font-size: 18px;
line-height: 1.1;
letter-spacing: -0.02em;
color: var(--main-text-color);
background-color: var(--main-color);
transition: color 250ms cubic-bezier(0.47, 0, 0.745, 0.715), background-color 250ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.yacht-form-button:hover,
.yacht-form-button:focus {
  color: var(--main-color);
  background-color: var(--accent-color);
}


.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 150px 50px;
}

.review-title {
  justify-content: center;
  align-items: center;
  width: 854px;
  font-weight: 500;
font-size: 48px;
line-height: 1;
letter-spacing: -0.02em;
text-align: center;
margin-bottom: 25px;
color: var(--main-text-color);
}

.review-descr {
  width: 572px;
  font-weight: 400;
font-size: 14px;
line-height: 1.28571;
letter-spacing: -0.02em;
text-align: center;
margin-bottom: 75px;
color: rgba(251, 251, 251, 0.4);
}

.review-list {
  display: flex;
  width: 1240px;
  justify-content: center;
  gap: 32px;
}

.review-items {
  border-radius: 24px;
  border: none;
  padding: 32px 36px;
  background-color: var(--accent-color);
  flex-basis: calc(
    (100% - (var(var(--review-item-number)) - 1) * var(--review-item-gap))
    / var(--review-item-number)
  );
}

.review-image {
  margin-bottom: 24px;
}

.review-name {
  margin-bottom: 8px;
  font-weight: 500;
font-size: 18px;
line-height: 1.1;
letter-spacing: -0.02em;
text-align: center;
color: var(--heading-text-color);
}

.review-text {
  font-weight: 400;
font-size: 16px;
line-height: 1.4;
letter-spacing: -0.02em;
text-align: center;
color: rgba(04, 03, 06, 0.4);
}

.footer {
  background-color: var(--background-color);
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 25px;
  padding: 50px 75px;
  background-color: var(--main-color);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.nav-footer-group {
  display: flex;
  width: 1240px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 96px;
}

.footer .logo-link{
  color: var(--main-text-color);
}

.footer .nav-list {
  display: flex;
  
  justify-content: space-between;
  align-items: center;
}

.footer .nav-item {
  margin-right: 4px;
}

.footer .nav-item:last-child {
  margin-right: 0px;
}


.footer .nav-link {
  color: var(--main-text-color);
  background-color: rgba(251, 251, 251, 0.3);
  transition: background-color 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.footer .nav-link:hover,
.footer .nav-link:focus {
  background-color: var(--main-color);
}


.footer .socials-icon {
  overflow: hidden;
  fill: var(--accent-color);
}

.footer .socials-list {
  display: flex;
  
}

.footer .socials-items {
  margin-right: 8px;
}

.footer .socials-items:last-child {
  margin-right: 0px;
}

.footer-title {
  width: 700px;
  margin-bottom: 99px;
  font-weight: 400;
font-size: 32px;
line-height: 1;
letter-spacing: -0.02em;
text-align: center;
color: var(--main-text-color);
}


.privacy-rights-text {
  margin-left: 32px;
  margin-bottom: 20px;
  font-weight: 400;
font-size: 14px;
line-height: 1.18;
letter-spacing: 0.03em;
text-align: center;
color: rgba(251, 251, 251, 0.4);
}


.privacy-police-link {
  display: inline-block;
  margin-left: 32px;
  font-weight: 400;
font-size: 14px; 
line-height: 1.18;
letter-spacing: 0.03em;
text-align: center;
color: rgba(251, 251, 251, 0.4);
}