.yacht-add {
  padding-top: 80px;
  padding-bottom: 40px;

  @media screen and (width >= 768px) {
    padding-top: 150px;
    padding-bottom: 75px;
  }
}

.yacht-add .container {
  display: flex;
  flex-direction: column;

  @media screen and (width >= 1280px) {
    flex-direction: row;
    justify-content: center;
    gap: 32px;
  }
}

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: var(--yacht-add-gap-mb);
  padding: 80px 20px;
  background-color: var(--main-color);
  margin-bottom: 20px;
  border-radius: 24px;

  @media screen and (width >= 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    padding: 90px 32px;
    margin-bottom: 32px;
  }

  @media screen and (width >= 1280px) {
    width: 716px;
    padding: 90px 50px;
    margin-bottom: 0px;
  }

  @media screen and (width >= 1440px) {
    width: 768px;
  }
}

.advantages-item {
  color: var(--main-text-color);
  margin-bottom: 40px;

  @media screen and (width >= 768px) {
    margin-bottom: 0px;
    flex-basis: calc((100% - 32px) / 2);
  }
}

.yacht-example {
  width: 100%;
  border-radius: 24px;
  border: none;
  overflow: hidden;
}

.add-number {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.05em;
  color: var(--main-text-color);

  @media screen and (width >= 768px) {
    font-size: 32px;
  }
}

.add-devider {
  border: 0;
  margin: 18px 0;
  border-top: 2px solid rgba(251, 251, 251, 0.1);
}

.add-text {
  font-size: 12px;
  line-height: 1.17;
  color: rgba(251, 251, 251, 0.8);

  @media screen and (width >= 768px) {
    font-size: 13px;
  }
}

@media screen and (min-width: 768px) {
  .add-number {
    font-size: 32px;
    line-height: 1;
  }
}
